<h1 class="bg-info rounded w-50 m-auto text-center">
    Bienvenue sur le mode versus
</h1>
<h2 class="text-center">
    Choisissez les badges sur lesquels vous souhaitez jouer !
</h2>
<form [formGroup]="myBadgeForm" [ngSubmit]="selectedBadges(myBadgeForm)">
    <div class="text-center custom-control custom-checkbox" *ngFor="let b of badges">
        <label class="">{{b.name}} </label>
        <input type="checkbox" class="" value={{b.id}} [formControl]="myBadgeForm.controls['id' + b.id]"><br>
    </div>
    <input type="submit" class="btn btn-success" value="Commencez !">
</form>

<div class="text-center mt-3">

</div>
